
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1, h2, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
}

h2 {
    text-align: left;
    margin-left: 15px;
}

p, a, button, input, select, textarea {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header {
    background-color: #FF5A5F;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.logo {
    height: 50px;
}

.login-button {
    background-color: #FF5A5F;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.login-button:hover {
    background-color: #FF5A5F;
}


footer {
    background-color: #FF5A5F;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom: 0;
    font-family: 'Open Sans', sans-serif;
}

main {
    padding: 20px;
}


#filter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#filter label, #filter select {
    margin: 0 10px;
}
#filter label {
    font-weight: bold;
}

.place-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    flex:1;
    min-width: 300px;
    max-width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.place-image {
    width: 100%;
    border-radius: 10px;
}

.details-button {
    background-color: #FF5A5F;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
}

.details-button:hover {
    background-color: #FF5A5F;
}

.place-details {
    border: 1px solid #cfcdcd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
}

.place-image-large {
    width: 30%;
    border-radius: 10px;
}

.place-info {
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#places-list {
    display: flex;
    gap:0px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.review-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    background-color: #fff;
    text-align: left;
    flex: 0 1 calc(33.333% - 40px);
    box-sizing: border-box;
}
.review-card p:first-child strong {
    display:block;
    margin-bottom: 10px;
}
.review-card p:last-child strong {
    font-weight: normal;
}
.add-review {
    margin: 20px;
}

.add-review form {
    display: flex;
    flex-direction: column;
}

.add-review textarea {
    resize: vertical;
    padding: 10px;
    padding-left: 0px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
}

.add-review select,
.add-review button {
    padding: 10px;
    padding-left: 0px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
}

.add-review button {
    background-color: #FF5A5F;
    color: white;
    border: none;
    cursor: pointer;
}

.add-review button:hover {
    background-color: #FF5A5F;
}

.add-review label {
    font-weight: bold;
    padding-bottom: 5px;
}
